<div class="flex flex-col">
  <div class="align-middle inline-block min-w-full">
    <div class="shadow border-b border-t border-gray-200">
      <nz-table
        class="min-w-full divide-y divide-gray-200"
        #eventsTable
        [nzData]="records"
        [nzTotal]="recordsCount"
        [nzLoading]="recordsLoading"
        [nzShowPagination]="false"
        [(nzPageSize)]="pageSize"
        [nzLoadingIndicator]="loadingTemplate"
        [nzNoResult]="noResultTemplate"
      >

      <ng-template #loadingTemplate>
        <i class="fas fa-sync text-xl fa-spin mr-1 text-green-400 mt-3"></i>
      </ng-template>
      <ng-template #noResultTemplate>
        <i class="fas fa-exclamation-triangle text-2xl mr-1 text-green-400 mt-2.5 "></i>
        <h2 class="mt-2.5">No Data Found</h2>
      </ng-template>

        <thead>
          <tr
            class="text-white bg-gradient-to-r from-green-500 to-blue-500 text-center"
          >
            <th
              style="border-top-left-radius: 10px"
              class="text-left"
            >
              <span
                *ngIf="recordsCount && !recordsLoading && displayMultiSelect"
                style="margin-right: 25px"
                nz-checkbox
                [(ngModel)]="allEventsChecked"
                (ngModelChange)="updateAllChecked()"
                [nzIndeterminate]="eventsIndeterminate"
              >
              </span>
              <span>Date</span>
              <!-- <span>Duration</span> -->
            </th>
            <!-- <th>Duration</th>
            <th>UUID</th> -->
            <th>Protocol</th>
            <th style="min-width: 130px;">Source IP</th>
            <th style="min-width: 145px;">Destination IP</th>
            <th style="min-width: 130px;">Source Port</th>
            <th style="min-width: 160px;">Destination Port</th>
            <th class="text-left" style="min-width: 180px">Source Country</th>
            <th class="text-left" style="min-width: 200px">
              Destination Country
            </th>
            <th style="border-top-right-radius: 10px">Details</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <ng-container
            *ngFor="let item of eventsTable.data; let index = index"
          >
            <tr
              [class.bg-gray-100]="index % 2 === 0"
              [class.activeState]="item?.activeState"
            >
              <td
                style="min-width: 200px;"
                [style.border-left]="item.is_viewed ? '2px solid #42d1d0' : '2px solid #f12096'"
                class="text-left text-primary font-semibold"
              >
                <span  *ngIf="displayMultiSelect"
                  style="margin-right: 25px"
                  nz-checkbox
                  [nzValue]="item?.uuid"
                  [ngModel]="item?.eventExported"
                  (nzCheckedChange)="updateSingleChecked($event, item)"
                >
                </span>
                <span>{{ item?.date_time | bigdataDuration }}</span>
                <!-- <span>{{ item?.date_time | date: "medium" }}</span> -->
              </td>
              <!-- <td>{{ item?.date_time | bigdataDuration }}</td>
              <td>{{ item?.uuid }}</td> -->
              <td>
                <span
                  nz-tooltip
                  [nzTooltipTitle]="item?.protocol"
                  style="box-shadow: -1px 1px 5px 0px rgb(155 156 161);"
                  class="w-full transform motion-safe:hover:scale-110 cursor-pointer bg-gradient-to-br from-teal-400 to-blue-500 inline-block py-1 px-2 leading-none text-center whitespace-nowrap align-baseline font-semibold text-white rounded text-xs"
                  (click)="addDynamicFilterEvent(item?.protocol, 'protocol', 'Protocol')"
                >
                  {{ item?.protocol }}
                </span>
              </td>
              <td>
                <a (click)="addDynamicFilterEvent(item?.client_addr, 'client_addr', 'Source IP')">
                  <i
                    class="mr-1"
                    nz-icon
                    nzType="swap-right"
                    nzTheme="outline"
                  ></i>
                  <span>{{ item?.client_addr }}</span>
                </a>
              </td>
              <td>
                <a (click)="addDynamicFilterEvent(item?.server_addr, 'server_addr', 'Destination IP')">
                  <i
                    class="mr-1"
                    nz-icon
                    nzType="swap-left"
                    nzTheme="outline"
                  ></i>
                  <span>{{ item?.server_addr }}</span>
                </a>
              </td>
              <td>
                <a (click)="addDynamicFilterEvent(item?.client_port, 'client_port', 'Source Port')">
                  <span>{{ item?.client_port }}</span>
                </a>
              </td>
              <td>
                <a (click)="addDynamicFilterEvent(item?.server_port, 'server_port', 'Destination Port')">
                  <span>{{ item?.server_port }}</span>
                </a>
              </td>
              <td class="text-left">
                <span class="fi fi-{{ item?.client_country_code?.toLowerCase() }} mr-1"></span>
                {{ item?.client_country }}
              </td>
              <td class="text-left">
                <span class="fi fi-{{ item?.server_country_code?.toLowerCase() }} mr-1"></span>
                {{ item?.server_country }}
              </td>
              <td>
                <div #detailView>
                  <a
                    (click)="drawerVisibleEvent(item, index, detailView)"
                    class="relative cursor-pointer transform motion-safe:hover:scale-110 bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-br inline-block py-1 px-4 leading-none text-center whitespace-nowrap align-baseline font-semibold text-white rounded text-xs hover:text-white"
                  >
                    <i
                      nz-icon
                      nzType="eye"
                      nzTheme="outline"
                      class="absolute"
                      style="left: 0.5rem"
                    ></i>
                    <span style="margin-left: 0.7rem">View Details</span>
                  </a>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<div class="py-6 flex justify-center">
  <nz-pagination
    [nzPageIndex]="pageIndex"
    [nzTotal]="paginationCount"
    nzShowSizeChanger
    [nzPageSizeOptions]="[10, 20, 50, 100]"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="pageIndexChangeEvent($event)"
    (nzPageSizeChange)="pageSizeChangeEvent($event)"
  ></nz-pagination>
</div>
