<ul class="nx-menu-header">
  <ng-container *ngFor="let item of menu">
    <li class="menu" [class.dropdown]="item?.submenu">
      <a *ngIf="item.disabled" class="opacity-50 cursor-not-allowed">
        <i class="mr-2 text-base md:border-0 cursor-not-allowed" [class]="item.icon"></i>
        {{ item.title }}
      </a>
      <ng-container *ngIf="!item.disabled">
        <ng-container *ngIf="item?.submenu && item?.submenu === 'category'">
          <a
            class="attribute"
            [class.active]="item.title === selectedMenu"
            id="dropdown-btn"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i style="font-size: 0.8rem" class="mr-2" [class]="item.icon"></i>
            {{ item.title }}
            <i style="font-size: 0.6rem" class="ml-2" nz-icon nzType="down" nzTheme="outline"></i>
          </a>
          <div
            style="top: 45px; box-shadow: 0px 1px 6px 0px #b6b1b1"
            class="dropdown-menu min-w-max absolute right-0 hidden bg-white text-base z-50 float-left px-2 py-2 list-none text-left rounded-lg mt-1 hidden m-0 bg-clip-padding border-none"
            aria-labelledby="dropdown-btn"
          >
            <div class="categories flex justify-between">
              <div class="mlist">
                <div class="list">
                  <div *ngFor="let item of firstList; let i = index" class="list-item">
                    <a
                      class="text-left text-xs text-gray-700 font-semibold w-full relative flex"
                      [class.active]="selectedCategories.includes(item.name)"
                      (mouseenter)="itemSelected(item)"
                      (click)="itemClicked(item)"
                    >
                      <span>{{item.name}}</span>
                      <i nz-icon nzType="right" nzTheme="outline" *ngIf="item.parent" class="absolute right-2"></i>
                    </a>
                  </div>
                </div>
                <div class="list" *ngIf="secondList.length">
                  <div *ngFor="let item of secondList" class="list-item">
                    <a
                      class="text-left text-xs text-gray-700 font-semibold w-full relative flex"
                      [class.active]="selectedCategories.includes(item.name)"
                      (mouseenter)="itemSelected(item)"
                      (click)="itemClicked(item)"
                    >
                      <span>{{item.name}}</span>
                      <i nz-icon nzType="right" nzTheme="outline" *ngIf="item.parent" class="absolute right-4"></i>
                    </a>
                  </div>
                </div>
                <div class="list" *ngIf="thirdList.length" style="border-right: none;">
                  <div *ngFor="let item of thirdList" class="list-item">
                    <a
                      class="text-left text-xs text-gray-700 font-semibold w-full relative flex"
                      [class.active]="selectedCategories.includes(item.name)"
                      (mouseenter)="itemSelected(item)"
                      (click)="itemClicked(item)"
                    >
                      <span>{{item.name}}</span>
                      <i nz-icon nzType="right" nzTheme="outline" *ngIf="item.parent" class="absolute right-4"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!item?.submenu && !item?.isLogin">
          <a
            class="attribute"
            [class.active]="item.title === selectedMenu"
            (click)="toggleMenu(item)"

          >
            <i style="font-size: 0.8rem" class="mr-2" [class]="item.icon"></i>
            {{ item.title }}
          </a>
        </ng-container>
        <ng-container *ngIf="item?.isLogin && !currentUser">
          <a
            class="attribute"
            [class.active]="item.title === selectedMenu"
            (click)="toggleMenu(item)"

          >
            <i style="font-size: 0.8rem" class="mr-2" [class]="item.icon"></i>
            {{ item.title }}
          </a>
        </ng-container>
      </ng-container>
    </li>
  </ng-container>
</ul>
