<div class="white">
  <div class="squares">
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
    <div class="square" [ngStyle]="{ background: statusColor }"></div>
  </div>
</div>
<div class="body-login" style="background: transparent; min-height: 85vh !important;">
  <div
    class="login-card"
    (mouseenter)="mouseEnter('rgb(187 247 208)')"
    (mouseleave)="mouseLeave('#bebcbc')"
  >
    <input type="checkbox" id="chk" />
    <div class="signup p-8 relative w-full h-full flex justify-center items-center">
      <form [formGroup]="loginForm" class="sign-form validate-form w-full h-full p-8">
        <h4
          class="font-semibold text-center mb-4"
          style="
            color: #6b6d76;
            font-size: 1.7rem;
          "
        >
          Welcome! Please Login.
        </h4>

        <div class="sig divider" style="margin: 0 auto 45px;"></div>

        <div class="user-box">
          <input
            type="text"
            formControlName="user"
            title="Enter Email or Phone"
            required
          />
          <label>Email or Phone</label>
        </div>

        <div class="user-box">
          <input
            formControlName="password"
            type="password"
            title="Enter password"
            required
          />
          <label>Password</label>
        </div>

        <button class="login-btn" [disabled]="!loginForm.valid" (click)="login()">
          <span>
            <i *ngIf="loading" class="fas fa-sync fa-spin mr-1"></i>
            Login
          </span>
          <div class="liquid"></div>
        </button>

        <div class="sig divider" style="margin: 35px auto 25px;"></div>

        <div class="text-center text-gray-600 text-base">
          <span>
            New Member?
            <a routerLink="/register" class="text-center" style="color: #19c78d;">Register!</a>
            Here
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
