<div class="container">
  <div class="flex justify-between py-2">
    <h4 class="text-lg font-semibold">Ebazar Categories</h4>
  </div>
  <div class="grid grid-cols-12 categorieslist">
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="item relative">
        <div class="item-img">
          <img src="https://static-01.daraz.pk/p/740fcbfa48a11b96314f99763e1bbf27.jpg" alt="">
        </div>
        <div class="item-content">
          <div class="item-brand uppercase text-sm font-semibold pt-4">DIY</div>
        </div>
      </div>
    </div>
  </div>
</div>
